*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111827;
}

#HighSchool{
    padding-top: 177px;
    padding-left: 160px;
}

#img{
    padding-top: 119px;
    padding-left: 160px;
}