/* Estilo botão Modal */ 
#btn-modal{
  height: 100vh;
}
    
/* Estilo do conteúdo do modal */
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}
  
/* Estilo do botão de fechar */  
.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  